{% extends "../base_login.html" %}
{% load static %}
{% block title %}Reset password mail{% endblock %}
{% block page_title %}Reset Password{% endblock %}
{% block page_content %}User Reset Password{% endblock %}
{% block form_title %}Reset your password{% endblock %}

{% block form %}
<div class="text-center">
	<p>We’ve emailed you instructions for setting your new password, if an account exists with the email you entered. You should receive them shortly.</p>
	<p>If you don’t receive an email, please make sure you’ve entered the email you registered with, and check your spam folder.</p>
</div>
{% endblock %}

{% block special_script %}
<script>
	window.onload = function(){
		document.getElementById("reset").className = "nav-link active active-pro";
		document.getElementById("home").className = "nav-link";
	}
</script>
{% endblock %}