{% extends "../base_login.html" %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block page_title %}Reset Password{% endblock %}
{% block page_content %}User Reset Password{% endblock %}
{% block form_title %}Reset Password{% endblock %}

{% block form %}
<form method="POST">
	{% csrf_token %}
	{% load crispy_forms_tags %}
	{{ form|crispy }}
	<div class="text-center">
		<button type="submit" id="submit" class="btn btn-primary my-4">Reset Password</button>
	</div>
</form>
{% endblock %}

{% block special_script %}
<script>
	window.onload = function(){
		document.getElementById("reset").className = "nav-link active active-pro";
		document.getElementById("home").className = "nav-link";
	}
</script>
{% endblock %}