{% extends "../dashboard/base_dashboard.html" %}
{% load static %}
{% block title %}Change Password - Done{% endblock %}

{% block header_block %}
	<h1 class="display-2 text-white">Hello, {{request.user.name}}!</h1>
	<p class="text-white mt-0 mb-5">You can update your password here...</p>
{% endblock %}

{% block special_script %}
<script>
	window.onload = function(){
		document.getElementById("change_password").className = "nav-link active active-pro";
		document.getElementById("dashboard").className = "nav-link";
	}
</script>
{% endblock %}

{% block page_content %}
	<div class="row justify-content-center">
		<div class="col-lg-5 col-md-7">
			<div class="card bg-secondary border border-soft mb-0">
				<div class="card-body px-lg-5 py-lg-5">
					<div class="text-center mb-4">
						<large>Your password has been succesfully changed</large>
					</div>
					{% if messages %}
					{% for message in messages %}
						<div class="alert alert-default alert-dismissible fade show" role="alert">
							<span class="alert-text">{{ message|capfirst }}</span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
					{% endif %}
					{% for field in form %}
						{% if field.errors %}
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<span class="alert-text">{{ field.label }} {{ field.errors|striptags }}</span>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endif %}
					{% endfor %}
					<div class="text-center">
						<p>Your password has been succesfully changed. <a href="{% url 'profile' %}">Click here</a> to return to your profile.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}