{% extends "../base_login.html" %}
{% load static %}
{% block title %}Reset password Success{% endblock %}
{% block page_title %}Reset Password{% endblock %}
{% block page_content %}Reset your password{% endblock %}

{% block form %}
<div class="text-center">
	<p>Your password has been succesfully changed. <a href="{% url 'dashboard' %}">Click here</a> to go to your dashboard.</p>
</div>
{% endblock %}
{% block special_script %}
<script>
	window.onload = function(){
		document.getElementById("reset").className = "nav-link active active-pro";
		document.getElementById("home").className = "nav-link";
	}
</script>
{% endblock %}