{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Login{% endblock %}</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="title" content="Eventia">

	<meta name="keywords" content="Eventia, college, event, eventia event">
	<meta name="description" content="">
	
	<meta itemprop="name" content="Eventia">
	<meta itemprop="description" content="">
	<meta itemprop="image" content="{% static 'logo/android-chrome-192x192.png' %}">

	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'logo/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'logo/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'logo/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'logo/site.webmanifest' %}">
	<link rel="mask-icon" href="{% static 'logo/safari-pinned-tab.svg' %}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
	<link rel="stylesheet" href="{% static 'bs/dashboard/assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'bs/dashboard/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'bs/dashboard/assets/vendor/fullcalendar/dist/fullcalendar.min.css' %}">
	<link rel="stylesheet" href="{% static 'bs/dashboard/assets/vendor/sweetalert2/dist/sweetalert2.min.css' %}">
	<link rel="stylesheet" href="{% static 'bs/dashboard/css/dashboard.css' %}" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Audiowide|Do+Hyeon" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
	<style type="text/css">
		.asteriskField {
			display: none;
		}
	</style>
</head>
<body class="bg-white">
	<!-- Navbar -->
	<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
		<div class="scrollbar-inner">
			<div class="sidenav-header  d-flex  align-items-center">
				<a class="navbar-brand" href="" style="font-family: 'Audiowide', cursive;">Eventia</a>
				<div class=" ml-auto ">
					<div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
						<div class="sidenav-toggler-inner">
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
						</div>
					</div>
				</div>
			</div>
			<hr class="my-3">
			<div class="navbar-inner">
				<div class="collapse navbar-collapse" id="sidenav-collapse-main">
					<!-- Nav items -->
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active active-pro" id="home" href="{% url 'home' %}">
								<i class="ni ni-shop text-primary"></i>
								<span class="nav-link-text">Home</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="register" href="{% url 'register' %}">
								<i class="ni ni-badge text-orange"></i>
								<span class="nav-link-text">Register</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="login" href="{% url 'login' %}">
								<i class="ni ni-circle-08"></i>
								<span class="nav-link-text">User login</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="reset" href="{% url 'password_reset' %}">
								<i class="ni ni-lock-circle-open text-primary"></i>
								<span class="nav-link-text">Reset Password</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="main-content" id="panel">
		<!-- Side Navbar -->
		<nav class="navbar navbar-top navbar-expand navbar-dark bg-gradient-primary">
			<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav align-items-center  ml-md-auto ">
				<li class="nav-item d-xl-none">
					<div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
					<div class="sidenav-toggler-inner">
						<i class="sidenav-toggler-line"></i>
						<i class="sidenav-toggler-line"></i>
						<i class="sidenav-toggler-line"></i>
					</div>
					</div>
				</li>
				</ul>
			</div>
			</div>
		</nav>
		<!-- Content -->
		<div class="header bg-gradient-primary py-6 py-lg-7 pt-lg-8">
			<div class="container">
				<div class="header-body text-center mb-7">
					<div class="row justify-content-center">
						<div class="col-xl-5 col-lg-6 col-md-8 px-5">
							<h1 class="text-white">{% block page_title %}{% endblock %}</h1>
							<p class="text-lead text-white">{% block page_content %}{% endblock %}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="separator separator-bottom separator-skew zindex-100">
				<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
				<polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
				</svg>
			</div>
		</div>
		<div class="container mt--9 pb-5 text-gray">
			<div class="row justify-content-center">
				<div class="col-lg-5 col-md-7">
					<div class="card bg-secondary border border-soft mb-0">
						<div class="card-body px-lg-5 py-lg-5">
							<div class="text-center mb-4">
								<large>{% block form_title %}{% endblock %}</large>
							</div>
							{% block already_login %}
								{% if messages %}
								{% for message in messages %}
									<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
										<span class="alert-text">{{ message|capfirst }}</span>
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								{% endfor %}
								{% endif %}
							{% endblock %}
							{% for field in form %}
								{% if field.errors %}
									<div class="alert alert-danger alert-dismissible fade show" role="alert">
										<span class="alert-text">{{ field.label }} {{ field.errors|striptags }}</span>
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								{% endif %}
							{% endfor %}
							{% block form %}{% endblock %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'bs/dashboard/assets/vendor/jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'bs/dashboard/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'bs/dashboard/assets/vendor/js-cookie/js.cookie.js' %}"></script>
	<script src="{% static 'bs/dashboard/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
	<script src="{% static 'bs/dashboard/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
	<script src="{% static 'bs/dashboard/assets/js/dashboard.js' %}"></script>
	<script src="{% static 'bs/dashboard/assets/js/demo.min.js' %}"></script>
	{% block special_script %}{% endblock %}
</body>
</html>